.boletos{
    padding: $separacion 0;
    h3{
        text-align: center;
        color: $blanco;
    }
    .contenedor-boletos{
        margin-top: $separacion /2;
        @include grid(2, 5rem);
    }
    .plan{
        p{
            color: $blanco;
            text-align: center;
            margin-bottom: 2rem;
        }
    }
}
.pase{
    color: $blanco;
    width: 100%;
    border-spacing: 0;
    thead{
        background: $rosa;
        th{
            padding: $separacion / 4;
            text-transform: uppercase;
            font-weight: $delgada;
        }
    }
    tbody{
        background-color: $blanco;
        td{
            padding: $separacion / 4;
            border-bottom: 1px solid #e1e1e1;
            color: $negro;
        }
        tr{
            &:last-of-type{
                border: none;
            }
        }
    }
    tfoot{
        background-color: $morado;
        td{
            padding: $separacion / 4;
            text-align: center;
            font-size: 2rem;
        }
    }
}